body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Header Section */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
nav a:hover{
    padding: 10px;
    background-color: black;
    width: 50px;
    height: 30px;
    color:white;
}
/* Hero Section */
.hero1{
    background-image: url("hero.jpg");
    background-size: cover;
    height: 450px;

}

#hero {
    background: url('images/hero-bg.jpg') no-repeat center center;
    background-size: cover;
    color: black;
    text-align: center;
    padding: 50px 20px;
}

#hero h2 {
    font-size: 2.5em;
}

#hero p {
    font-size: 1.2em;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #333;
    text-decoration: none;
    border-radius: 5px;
}

#featured{
    padding: 10px;
    text-align: center;
    
}

.collection {
    display: inline-block;
    margin: 10px;
}

.collection img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.product img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
#featured .collection a{
 
    color: Black;
    
}
/* Footer Section */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}
